/* ================================================================
   Variables
   ================================================================ */

// Color Variables
$body-bg: #fff;
$color-base: rgb(25, 25, 25);
$color-invert: #fff;
$color-primary: #292929;
$color-secondary: #990000;
$color-tertiary: #02008a;


// Typography
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-tertiary: $font-secondary;
$font-heading: $font-secondary;

$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;

$typography-margin-bottom: 1em;

// Breakpoints
// You can convert these at http://pxtoem.com
$bp-s: 20em; // 320px
$bp-s-max: 29.938em; // 479px
$bp-sw: 30em; // 480px
$bp-sw-max: 47.938em; // 767px
$bp-m: 48em; // 768px
$bp-m-max: 59.938em; // 959px
$bp-mw: 60em; // 960px
$bp-mw-max: 71.188em; // 1139px
$bp-l: 71.25em; // 1140px
$bp-l-max: 81.188em; // 1299px
$bp-xl: 81.25em; // 1300px

// Transitions
$trans-duration: 0.3s;
$trans-ease: ease-in-out;
$trans: all $trans-duration $trans-ease;

// Grid
$container-size: 64rem; // 1430px
$grid-gutter: 20px;
$grid-gutter-em: 0.938em; // Changing grid gutter to em causes a compiling error :/