@import '../../../styles/_utilities.scss';
@import '../../../styles/variables';

.nav {
   width: 60%; 
}

.nav__list {
    @include resetList;
    display: flex;
    justify-content: space-between;
}

.nav__list-item {
    margin: .5rem 1rem;

}