@import '../../styles/main.scss';

.header {
    @include container;
    position: relative;
    margin-top: 1rem;
    padding:1rem;
    display: flex;
    justify-content: space-between;

}

.nav {
   width: 78%;
}

.nav__block-row {
    @include row;
}

.nav__menu {

    @include resetList;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:6rem;
    left: -110%;
    opacity: 1;
    justify-content: flex-start;
    align-items: center;
    transition: all 2 ease;
    background-color: rgba(0,0,0,.95);
    padding-top:4rem;
    z-index: 1;

    &.active {
        left:-1rem;
        width: calc(100% + 2rem)
    }

    @include breakpoint(m){
        flex-direction: row;
        flex: 1;
        position:relative;
        background-color: transparent;
        height: auto;
        top: auto;
        left: auto;
        padding: 0;
        justify-content: flex-end;


    }
}

.menu-icon {
	display: block;
	position: absolute;
	top: 50%;
    left: 85%;
    transform: translateY(-35%);
	font-size: 2.5rem;
	cursor: pointer;
    color: black;

    @include breakpoint(m){
        display: none;
    }
}

.nav__list-item {
    margin: .5rem 1rem;

    a {
        font-weight: 800;
        color: white;
        border-bottom: 2px solid transparent;
        padding-bottom: .5rem;

        &:hover, &:focus {
            text-decoration: none;
            border-color: $color-secondary;
        }
    }

    @include breakpoint(m) {
        a{
            color: $color-primary;
            font-weight: 800;

            &:hover, &:focus {
                color: $color-base;
            }
        }
    }
}

.menu-icon {
	display: block;
	position: absolute;
	top: 2rem;
	right: 0;
	font-size: 2.5rem;
	cursor: pointer;
    color:black;

    @include breakpoint(m){
        display: none;
    }
}
