@import '../../../styles/main.scss';

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
 

    @include breakpoint(m){
        width:80%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start
    }
}

.nav-menu__list {
    @include resetList;
    color: white;
    list-style: none;
    // flex: 1;
    
    text-align: center;
    padding: 1rem;

    @include breakpoint(m){
        text-align: left;
        width:25%;
    }
}

.nav-menu__inner-list{
    @include resetList;
}

.nav-menu__list-item {
    margin: .25rem 0;

    &--inner {
        margin: 1rem 0;
    }

    a {
        color: $color-invert;
        border-bottom: 2px solid transparent;

        &:hover, &:focus {
            color: $color-secondary;
            border-color: $color-secondary;
            text-decoration: none;
        }
    }

    &-title {
        font-family: $font-secondary;
        font-weight: 800;
        @include x-rem(font-size, 28px);
    }
}