@import '../../../styles/main.scss';

.confirmation {

}

.confirmation__container-block {
    max-width: $container-size;
    margin: auto;
    text-align: center;
}

.confirmation-content__container-block {
    max-width: $container-size;
    margin: auto;
    text-align: center;
}
.confirmation__title {
    margin-bottom: 0;
}
.confirmation__text {
    font-weight: 800;

    span {
        font-weight: 500;
        color: $color-primary;
    }
}